#title
{
    width: 80%;
}
textarea {
   width : 80%;
   resize: none;
   min-height: 12em;
   background-color: transparent;
   border: none;
   font-size: x-large;
   line-height: 2;
}
textarea:focus{
    outline: none;
}
.images {
    position: relative;
    display: block;
    width: 80vw;
    min-height: 100px;
    margin: 0 auto;
    white-space: nowrap;
    overflow-x: auto;
    align-items: center;
}
.images::-webkit-scrollbar {
    height: 1.5vw;
}
.images::-webkit-scrollbar-thumb {

    background-color: hsla(0, 0%, 42%, 0.49);
    border-radius: 100px;

}
.imageLogo {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
#chooseFile {
    visibility: hidden;
}
#diaryDiaryImg {
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -30%);
}
.diaryView{
    height: calc(var(--vh, 1vh) * 50);
    position: relative;
    overflow-y: auto;
}
.diaryView::-webkit-scrollbar {
    width: 0;
}
.diaryView::-webkit-scrollbar-thumb {

    background-color: hsla(0, 0%, 42%, 0.49);
    border-radius: 100px;

}
.diaryEdit{
    min-height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    overflow: auto;
    background-image: url(/src/icons/종이질감2.png);
    background-repeat: repeat;
}
.diaryImages {
    margin-left: 10px;
    margin-right: 10px;
}