#title
{
    width: 80%;
}
textarea {
   width : 80%;
   height: 15em;
   resize: none;
   background-color: transparent;
   border: none;
   font-size: x-large;
   line-height: 2;
}
textarea:focus{
    outline: none;
}
.images {
    display: flex;
    justify-content: center;
}
#chooseFile {
    visibility: hidden;
}
#diaryImg {
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -30%);
}
.diaryView{
    height: 100%;
    position: relative;
}
.diaryEdit{
    min-height: calc(var(--vh, 1vh) * 100);
    overflow: auto;
    background-image: url(/src/icons/종이질감2.png);
    background-repeat: repeat;
}