.ToMyGoal{
    height: calc(var(--vh, 1vh) * number); /* 스크롤 사라짐 */
    /* height: calc(var(--vh, 1vh) * 50); */
    position: relative;
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#diaryImg {
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -30%);
}
#buttonImg{
    width: 40px;
    position: absolute;
    top: 10%;
    right: 5%;
}
#plusImage {
    margin-top: 0;
    width: 40px;
}
.trashImage {
    margin: 7px;
    width: 24px;
    padding-inline-start: 15%;
}
.goalList {
    font-family: "ArchitectD";
    font-weight: 100;
    font-size: 22px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}
.detailGoal {
    /* background-color: blue; */
    /* width: 120%; */
}
.mainGoal,
.dgoalList {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    /* background-color: blue; */
    /* width: 100vw; */
}
#goalId {
    padding-inline-end: 5%;
    /* background-color: red; */
}
#detailGoal {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    /* background-color: blue; */
}
.mainGoal-input{
    background-color: transparent;
    font-family: "ArchitectD";
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    width: 95%;
    margin-bottom: 0;
    padding-bottom: 0;
    /* background-color: white; */
}
.detailGoal-input {
    background-color: transparent;
    text-align: center;
    font-family: "ArchitectD";
    font-weight: 100;
    font-size: 20px;
    width: 110%;
    margin-bottom: 0;
    padding-bottom: 0;
    /* background-color: white; */
}
#mainHorizonLine {
    border-color: black;
    border-width: 0.8px;
    margin-top: 0;
    width: 100%;
}
#detailHorizonLine {
    border-color: black;
    border-width: 0.8px;
    margin-top: 0;
    width: 120%;
}