input {
    border: none;
    font-size: medium;
}
input:focus {
    outline: none;
}
#diaryImg {
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -30%);
}
#buttonImg{
    width: 50px;
    position: absolute;
    bottom: 5%;
    right: 5%;
}
.ToMyGoal{
    height: calc(var(--vh, 1vh) * 50);
    position: relative;
}