#loginWrapper {
    height: 100vh;
    padding: 2%;
    border-radius: 10px;
    text-align: center;
    font-size: larger;
    justify-content: center;
    /* 세로 가운데 정렬 (column과 동일 방향) */
    align-items: center;
    display: flex;
    flex-direction: column;
}
.title {
    font-family: "NotoSC";
    /* font-family: "inter-R"; */
    font-weight: bold;
    font-size: 40;
}
#id {
    font-family: "ArchitectD";
    font-weight: 500;
    font-size: 25px;
}
#pwd {
    font-family: "ArchitectD";
    font-weight: 500;
    font-size: 20px;
}
.id-input {
    text-align: center;
    border: none;
    outline: none;
    /* transparent : 투명 의미 */
    background-color:transparent; 
    border-radius: 0;
    font-family: "ArchitectD";
    font-weight: 500;
    font-size: medium;
    margin-bottom: 3px;
    width: 170px;
}
#id-input, #pwd-input {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.pwd-input {
    text-align: center;
    border: none;
    outline: none;
    background-color: transparent; 
    border-radius: 0;
    font-family: "ArchitectD";
    font-weight: 500;
    font-size: large;
    margin-bottom: 0;
    width: 170px;
}
.loginButton {
    border: none;
    background-color: transparent;
    color: black;
    display: flex;
    position: relative;
    left: 95px;
    margin-top: 0;
}
.kakaoLogin {
    border: none;
    background-color: transparent;
}
.googleLogin {
    border: none;
    background-color: transparent;
}
.naverLogin {
    border: none;
    background-color: transparent;
}
.horizonLine {
    border-color: black;
    border-width: 0.8px;
    margin-top: 0;
    width: 180px;
    margin-bottom: 0;
}