@font-face {
    font-family: "inter-R";
    src: url("assets/fonts/Inter-Medium.ttf");
  }
  @font-face {
    font-family: "inter-B";
    src: url("assets/fonts/Inter-ExtraBold.ttf");
  }
@font-face {
    font-family: "ArchitectD";
    src: url("assets/fonts/ArchitectsDaughter-Regular.ttf");
  }
@font-face {
    font-family: "NotoSC";
    src: url("assets/fonts/NotoSansSC-Medium.ttf");
  }
@font-face {
  font-family: "kkum";
  src: url(assets/fonts/cachildren\ kkum.ttf);
}
@font-face {
  font-family: "modu";
  src: url(assets/fonts/cachildren\ modu.ttf);
}
.App {
    text-align: center;
}